mixin party-leaders(leaderImg, leaderName, deputyImg1, deputyImg2, deputyName1, deputyName2, deputyJob1, deputyJob2, logo)
	.row.leadership-row
		.col-md-4.col-sm-6.col-xs-12.leader-container
			img(src="#{leaderImg}", alt="Party leader").img-fluid.leader-img
			p.text-justify.font-weight-bold #{leaderName}
			p.text-muted.text-justify Current party leader
		.col-md-4.col-sm-6.col-xs-12
			h3 Party Leadership
			p.leadership-para OVER THE PAST 10 YEARS it has become harder for millions of Canadians to get ahead. Some people think the solution is to continue on the course we’re on, giving benefits to the wealthy and making cuts to everything else. I have a different plan, to invest immediately in jobs and growth and lower taxes for the middle-class.
			p Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer rutrum tempus fringilla. Ut nec fermentum enim, sed convallis sem. Etiam sit amet vulputate mauris.
			p Duis pellentesque odio nunc, quis commodo sem porta quis. Duis dignissim, nisl ut congue venenatis, nisl lacus pretium velit, in rutrum nisi ipsum in augue. Vestibulum vitae lacus nec est pharetra viverra sit amet eu augue. Morbi tortor magna, placerat sed lectus id, volutpat blandit nisi.
		.col-md-4.col-sm-6.col-xs-12
			img(src="#{logo}", alt="Party logo").img-fluid.logo
			.deputy-container
				.div
					img(src="#{deputyImg1}", alt="Party leader").img-fluid.deputy-img
					p.font-weight-bold #{deputyName1}
					p.text-justify.text-muted #{deputyJob1}
				.div
					img(src="#{deputyImg2}", alt="Party leader").img-fluid.deputy-img
					p.font-weight-bold #{deputyName2}
					p.text-justify.text-muted #{deputyJob2}
