mixin party-leaders(leaderImg, leaderName, deputyImg1, deputyImg2, deputyName1, deputyName2, deputyJob1, deputyJob2, logo)
	.row.leadership-row
		.col-md-4.col-sm-6.col-xs-12.leader-container
			img(src="#{leaderImg}", alt="Party leader").img-fluid.leader-img
			p.text-justify.font-weight-bold #{leaderName}
			p.text-muted.text-justify Current party leader
		.col-md-4.col-sm-6.col-xs-12
			h3 Party Leadership
			p.leadership-para(data-party="#{party}" data-info="#{partyObjKey}")
		.col-md-4.col-sm-6.col-xs-12
			img(src="#{logo}", alt="Party logo").img-fluid.logo
			.deputy-container
				.div
					img(src="#{deputyImg1}", alt="Party leader").img-fluid.deputy-img
					p.font-weight-bold #{deputyName1}
					p.text-justify.text-muted #{deputyJob1}
				.div
					img(src="#{deputyImg2}", alt="Party leader").img-fluid.deputy-img
					p.font-weight-bold #{deputyName2}
					p.text-justify.text-muted #{deputyJob2}
