mixin party-policies(party, policy, history, numSenators, numMps, graphImg)
	.row.policies-row
		.col-md-4.col-sm-6.col-xs-12.section
			h3 Our Policies
			p.font-weight-bold.leadership-para Our approach to issues
			p.policies-para(data-party="#{party}" data-policy="#{policy}").end-para
			button.btn.btn-primary View Policies
		.col-md-4.col-sm-6.col-xs-12.section
			h3 Our History
			p.font-weight-bold.leadership-para The Party History
			p.history-para(data-party="#{party}" data-history="#{history}").end-para
			p.font-weight-bold.text-uppercase.red Read More
		.col-md-4.col-sm-12.col-xs-12.section
			h3 Our Representation
			p.font-weight-bold.leadership-para Majority Representation
			p We have #{numSenators} currently sitting Senators in the Senate and #{numMps} MPs in the House of Commons.
			img(src="#{graphImg}" alt="graph of representation").img-rounded.img-fluid.float-right
