mixin party-table-title(value, name)
	.compare-table__col-header(data-party="#{value}") #{name}

mixin party-table-policy-name(name)
	.compare-table__row-header(data-policy="#{name}") #{name}

mixin party-table-policy-body(party, policy)
	.compare-table__cell(data-party="#{party}" data-policy="#{policy}")
		h4 #{policy}
		p
		span.btn-vote Vote

mixin party-table-content-row(policy)
	+party-table-policy-name(policy)
	each item in parties
		+party-table-policy-body(item, policy)


section.policies
	div
	+party-table-title("Liberal", "Liberal Party")
	+party-table-title("Conservative", "Conservative Party")
	+party-table-title("New Democratic", "New Democratic Party")
	+party-table-title("Green", "Green Party")

	each item in policies
		+party-table-content-row(item)

